@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
;

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 50px;
  .page_num {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 35px;
    width: 30px;
    background: #FCFCFC;
    border: 1px solid #C9B48C;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #A9A9A9;
    margin: 0 5px;
    &.active {
      background: #C9B48C;
      color: white;
    }
  }
  svg{
    width: 10px;
    height: unset;
    margin-top: 3px;
  }
  .prev_icon {
    margin-right: 10px;
  }
  .next_icon {
    margin-left: 10px;
  }
}

.buttons_list {
  background: #FCFCFC;
  border: 1px solid #C9B48C;
  border-radius: 10px;
  width: 100%;
  max-height: 520px;
  overflow: auto;
  padding: 0 !important;

  /* width */
  &::-webkit-scrollbar {
    width: 8px;
    margin-right: 5px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(201, 180, 140, 0.5);
    border: 1px solid white;
    border-radius: 10px;
  }
  .li {
    width: 100%;
    border-bottom: 1px solid #C9B48C;
    button {
      display: flex;
      align-items: center;
      padding: 15px 15px;
      color: #262B3E;
      width: 100%;
      background: none;
      border: none;
      text-align: left;
      outline: none;
      &.active {
        background: #C9B48C;
        color: white;
        .tr {
          color: white;
        }
        .arrow {
          svg {
            path {
              fill: white;
            }
          }
        }
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .tr {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 25px;
    color: #C9B48C;
    font-weight: bold;
    min-width: 40px;
    text-align: center;
    margin-right: 10px;
    text-transform: uppercase;
  }
  .arrow {
    padding-left: 15px;
    margin-left: auto;
    display: flex;
    align-items: center;
    svg {
      width: 7px;
      height: auto;
      transition: transform .3s ease;
    }
  }
  .item_inside {
    display: none;
    padding: 10px 0;
    padding-left: 65px;
    a {
      display: flex;
      width: fit-content;
      color: #262B3E;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        color: #C9B48C;
      }
    }
  }
}

/*----------------------Nice select----------------------------*/
.nice-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 35px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
  background: white;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  &:hover {
    border-color: #dbdbdb;
  }

  &:active, &.open {
    border-color: #999;
  }

  &:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px;
  }

  &.open:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  &.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }

  &.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none;
  }

  &.disabled:after {
    border-color: #cccccc;
  }

  &.wide {
    width: 100%;
  }

  &.wide .list {
    left: 0 !important;
    right: 0 !important;
  }

  &.right {
    float: right;
  }

  &.right .list {
    left: auto;
    right: 0;
  }

  &.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px;
  }

  &.small:after {
    height: 4px;
    width: 4px;
  }

  &.small .option {
    line-height: 34px;
    min-height: 34px;
  }

  .list {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    -o-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
  }

  .list:hover .option:not(:hover) {
    background-color: transparent !important;
  }

  .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }

  .option:hover, & .option.focus {
    background-color: #f6f6f6;
  }

  .option.selected {
    font-weight: bold;
  }

  .option.selected.focus {
    background-color: #f6f6f6;
  }

  .option.disabled {
    background-color: transparent;
    color: #999;
    cursor: default;
  }

  span.current {
    letter-spacing: 1px;
    color: #0B1022;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 20px;
  }
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

/*----------------------Nice select----------------------------*/

/*! Flickity v2.2.1
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #C9B48C;
  outline: none;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
  border: 1px solid #C9B48C;
}

.flickity-prev-next-button.previous {
  left: -15px;
}

.flickity-prev-next-button.next {
  right: -15px;
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: -10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: -10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 35%;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

/* ---- flickity-button ---- */

.tab_buttons {
  width: calc(100% + 10px);
  max-height: 660px;
  overflow: auto;

  button {
    display: flex;
    align-items: center;
    width: calc(100% - 10px);
    height: 110px;
    padding: 0 25px;
    background: white;
    border: 1px solid transparent;
    border-right: none;
    border-radius: 10px 0px 0px 10px;
    outline: none;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #262B3E;
    position: relative;

    &:after {
      height: calc(100% + 1px);
      width: 8px;
      background: transparent;
      content: '';
      position: absolute;
      right: -1px;
      top: -1px;
      z-index: 9;
    }

    &:first-child:after {
      right: -8px;
    }
    &:last-child:after {
      top: 0;
      right: -8px;
      border-top: none !important;
    }

    &.active {
      border-color: #C9B48C;
      background: #FCFCFC;
      &:after {
        background: #FCFCFC;
        border-top: 1px solid #C9B48C;
      }
      &:last-child:after {
        border-bottom: 1px solid #C9B48C;
      }
    }
  }
  .icon {
    min-width: 80px;
    max-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    svg {
      width: 60px;
      height: 60px;
    }
  }
  .add_btn {
    font-weight: 400;
  }
}

.tab_content {
  height: 660px;
  border-radius: 10px;
  padding: 40px 15px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #FCFCFC;
    z-index: -5;
    border-radius: 10px;
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #C9B48C;
    border-radius: 10px;
    z-index: -5;
  }
  .row {
    margin: 0;
    .col-12 {
      padding: 0;
    }
  }
  .title_box {
    padding: 0 15px;
    margin-bottom: 50px;
    h2 {
      color: #262B3E;
      font-size: 26px;
      font-weight: 500;
      text-align: center;
      margin: 0 0 25px;
      font-family: 'Roboto', sans-serif;
    }
    h3 {
      color: black;
      text-align: justify;
      font-weight: 400;
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
      line-height: 24px;
    }
    h4 {
      text-align: justify;
      font-weight: 400;
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
      line-height: 24px;
    }
    a {
      display: flex;
      align-items: center;
      margin-top: 60px;
      font-size: 16px;
      color: #262B3E;
      padding-left: 10px;
      svg {
        margin-right: 10px;
        width: 20px;
      }
    }
  }
  .scroll_box {
    max-height: calc(660px - 80px);
    overflow: auto;
    padding: 0 15px;
    /* width */
    &::-webkit-scrollbar {
      width: 8px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #C9B48C;
      border-radius: 10px;
    }
  }
  .position {
    padding: 0 15px;
    .position_item {
      margin-bottom: 60px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &.pro {
      .block_title, .user {
        .type {
          text-transform: uppercase;
          color: #60BA0F;
          font-weight: bold;
        }
      }
      .arguments_list {
        .order {
          background: #00B800;
        }
      }
      .btns {
        .contra_btn {
          .statistics {
            background: #EB0000;
          }
        }
      }
    }
    &.contra {
      .block_title, .user {
        .type {
          text-transform: uppercase;
          color: #E93F33;
          font-weight: bold;
        }
      }
      .arguments_list {
        .order {
          background: #EB0000;
        }
      }
      .btns {
        .contra_btn {
          .statistics {
            background: #00B800;
          }
        }
      }
    }

    .inside_items {
      padding-left: 100px;
      .btns {
        button, a {
          width: fit-content;
          margin-right: 20px;
          margin-left: 0 !important;
          padding: 0 25px;
        }
      }
    }
  }
  .item {
    margin-bottom: 40px;
    .stick {
      display: flex;
      margin: 35px auto;
      width: 50%;
      border: 1px solid #C9B48C;
    }
  }

  .block_title {
    margin: 0;
    color: #262B3E;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 20px;
  }
  .user {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    .avatar {
      min-width: 60px;
      max-width: 60px;
      height: 60px;
      margin-right: 20px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .text {
      .name {
        font-weight: 400;
        font-size: 18px;
        color: black;
        line-height: 26px;
      }
      .date {
        color: #A9A9A9;
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
  .arguments_list {
    padding-top: 10px;
    margin-bottom: 45px;
    .argument {
      display: flex;
      align-items: flex-start;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .order {
      border-radius: 3px;
      height: 35px;
      min-width: fit-content;
      margin-right: 20px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      color: white;
      font-size: 14px;
    }
    .text {
      text-align: justify;
      color: black;
      font-size: 14px;
    }
  }
  .comments_list {
    padding: 0 15px;
  }

  .btns {
    display: flex;
    flex-wrap: wrap;
    button, a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 45px;
      width: calc(50% - 10px);
      border-radius: 5px;
      border: 1px solid transparent;
      position: relative;
      outline: none;
      font-family: 'Roboto', sans-serif;
      &:nth-child(even) {
        margin-left: auto;
      }
      svg {
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }
      &.compare_btn {
        background: #FCFCFC;
        border-color: #C9B48C;
        color: #C9B48C;
      }
      &.discuss_btn {
        background: #C9B48C;
        color: white;
      }
      &.contra_btn {
        text-transform: uppercase;
      }
      .absolute {
        position: absolute;
        right: -15px;
        top: -15px;
        display: flex;
      }
      .statistics {
        min-width: 30px;
        min-height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 12px;
        margin-left: 5px;
        font-family: 'Roboto', sans-serif;
        &.green {
          background: #00B800;
        }
        &.red {
          background: #EB0000;
        }
      }
    }
  }
  p {
    color: black;
    font-size: 14px;
    text-align: justify;
    margin-bottom: 25px;
  }
  .source {
    margin-bottom: 40px;
    h3 {
      color: black;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 400;
      margin: 0 0 10px;
    }
    a {
      display: flex;
      color: #0C1D74;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .textarea {
    margin-bottom: 30px;
    label {
      font-weight: 400;
    }
    .tox-statusbar__branding, .tox-menubar {
      display: none !important;
    }
    .tox-toolbar {
      border-top: none;
    }
    .tox-sidebar-wrap{
      height: 200px!important;
    }
    .tox-tinymce {
      border-color: #CCCCCC;
      border-radius: 5px;
      height: 270px!important;
    }
  }

  &.no_bg {
    &:after, &:before {
      display: none;
    }
  }

  .state_position {
    margin-top: 60px;
    .block_title {
      text-align: left;
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    .nice-select {
      width: 100%;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    button[type=submit] {
      display: flex;
      align-items: center;
      padding: 0 30px;
      height: 45px;
      border-radius: 5px;
      color: white;
      background: #C9B38E;
      border: none;
      font-weight: bold;
    }
    .required {
      margin-top: 30px;
      font-size: 14px;
      color: black;
    }
    .add_argument {
      margin-bottom: 20px;
      border-bottom: 1px solid #F0F0F0;
      .head {
        .theargument{
          margin-bottom: 5px;
          position: relative;
        }
        .close{
          position: absolute;
          right: -10px;
          top: -10px;
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: white;
          outline: none;
          svg{
            width: 60%;
          }
        }
        .name{
          width: 100%;
          background: #FCFCFC;
          border: 1px solid #F0F0F0;
          padding: 0 15px;
          height: 35px;
          display: flex;
          align-items: center;
          color: #969696;
          outline: none;
        }
        textarea{
          width: 100%;
          height: 100px;
          resize: none;
          border: 1px solid #CCCCCC;
        }
      }
      .body {
        padding-bottom: 10px;
        padding-top: 20px;
      }
      .add_argument_btn {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        color: black;
        outline: none;
        svg {
          margin-right: 10px;
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

.tab_block {
  display: none;
  &.active {
    display: block;
  }
}

section.page-title {
  h3 {
    color: #fff;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
  }
  h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 30px;
  }
}

section.search {
  padding: 100px 0;
  form {
    display: flex;
  }
  input {
    background: #FCFCFC;
    border: 2px solid #C9B48C;
    border-radius: 5px;
    width: 100%;
    outline: none;
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
    color: #A9A9A9;
    padding: 0 50px;
  }
  button {
    padding: 0 40px;
    display: flex;
    align-items: center;
    height: 80px;
    margin-left: 70px;
    background: #C9B48C;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 300;
    font-size: 32px;
    line-height: 46px;
    svg {
      width: 40px;
      fill: white;
      margin-right: 20px;
    }
  }
}

section.item_list {
  background: white;
  .item {
    margin-bottom: 20px;
    position: relative;
    background: #FCFCFC;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
    .container {
      display: flex;
      align-items: center;
    }
    .icon {
      margin-right: 35px;
      svg{
        width: 50px;
      }
    }
    .text {
      padding-right: 15px;
    }
    h2 {
      font-weight: 500;
      font-size: 30px;
      letter-spacing: 1px;
      margin: 0 0 10px;
      color: #000000;
      font-family: 'Roboto', sans-serif;
    }
    p {
      font-size: 20px;
      letter-spacing: 1px;
      color: #A9A9A9;
    }
    .arrow {
      margin-left: auto;
      svg{
        width: 10px;
      }
    }
  }
}

section.top_buttons {
  border-top: 2px solid #C9B48C;
  border-bottom: 2px solid #C9B48C;
  margin-top: 90px;
  position: relative;
  .flickity-viewport {
    overflow: visible;
  }
  .container{
    overflow: hidden;
  }
  .topButtons_slider{
    overflow-x: scroll;
    max-width: 100%;
    display: flex;
    /* width */
    &::-webkit-scrollbar {
      height: 8px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(201, 180, 140, 0.5);
      border: 1px solid white;
      border-radius: 10px;
    }
  }
  .row {
    display: flex;
    align-self: stretch;
    > div {
      padding: 0;
    }
  }
  .col-12 {
    min-width: 100%;
    max-width: 100%;
    padding: 0;
  }
  .col-lg-3{
    min-width: 25%;
    max-width: 25%;
  }
  .item {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 15px 30px;
    background: white;
    border: none;
    border-radius: 7px 7px 0px 0px;
    outline: none;
    position: relative;
    text-decoration: unset;
    &.active {
      background: #C9B48C;
      border-radius: 7px;
      .num {
        color: white;
      }
      h2 {

        color: white;
      }
      p {
        color: white;
      }
    }
  }
  &.type_2 {
    border-bottom: none;
    margin-bottom: 30px;
    .topButtons_slider{
      padding-bottom: 30px;
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 50px;
      width: 100%;
      height: 2px;
      background: #C9B48C;
    }
    .container {
      overflow: hidden;
      padding-bottom: 50px;
    }
    .item {
      padding-bottom: 45px;
      &.active {
        &:after {
          content: '';
          position: absolute;
          left: 50%;
          top: 100%;
          transform: translateX(-50%);
          width: 60px;
          height: 30px;
          border-top: solid 30px #C9B48C;
          border-left: solid 30px transparent;
          border-right: solid 30px transparent;
        }
      }
    }
  }
  &.type_3 {
    .item {
      padding-bottom: 60px;
    }
    p {
      bottom: 10px;
    }
    .num {
      font-size: 20px;
      line-height: 26px;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      color: #262B3E;
    }
  }
  .num {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 40px;
    color: #C9B48C;
    text-align: center;
  }
  h2 {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    text-align: center;
  }
  p {
    font-size: 16px;
    line-height: 38px;
    color: #C9B48C;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
  }
}

section.principles {
  margin-bottom: 100px;
  .container {
    background: #C9B48C;
    border-radius: 10px;
    padding: 20px 15px;
  }
  .col-lg-12 {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    display: flex;
    font-size: 16px;
    color: #FFFFFF;
  }
}

section.performance {
  margin-bottom: 80px;
  .col-lg-4, .col-lg-8 {
    padding: 0;
  }
  .col-12{
    position: relative;
  }
}

section.discussion {
  padding-top: 80px;
  margin-bottom: 80px;
  &.tab_block {
    border-top: 1px solid #C9B48C;
  }
  .col-lg-4, .col-lg-8 {
    padding: 0;
  }
  .col-12{
    position: relative;
  }
  .tab_buttons{
    button{
      &.active{
        &:last-child{
          &:after{
            border-bottom: none!important;
          }
        }
      }
    }
  }
  .section_title {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 25px;
  }
  .section_subtitle {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    width: 90%;
    line-height: 32px;
    margin-bottom: 80px;
  }
  .tab_content {
    height: auto;
  }
}

section.articles {
  padding-top: 50px;
  .col-12 {
    padding: 0;
  }
  .scroll_box {
    max-height: 900px;
    overflow-y: auto;
    padding: 0 25px;
    /* width */
    &::-webkit-scrollbar {
      width: 8px;
      margin-right: 15px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(201, 180, 140, 0.5);
      border: 1px solid white;
      border-radius: 10px;
    }
  }
  .btns {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    button, a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 45px;
      width: calc(50% - 10px);
      border-radius: 5px;
      border: 1px solid transparent;
      position: relative;
      outline: none;
      &:nth-child(even) {
        margin-left: auto;
      }
      svg {
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }
      &.compare_btn {
        background: #FCFCFC;
        border-color: #C9B48C;
        color: #C9B48C;
      }
      &.discuss_btn {
        background: #C9B48C;
        color: white;
      }
      &.contra_btn {
        text-transform: uppercase;
      }
      .absolute {
        position: absolute;
        right: -15px;
        top: -15px;
        display: flex;
      }
      .statistics {
        min-width: 25px;
        min-height: 25px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 12px;
        margin-left: 5px;
        font-family: 'Roboto', sans-serif;
        padding: 0 2px;
        &.green {
          background: #00B800;
        }
        &.red {
          background: #EB0000;
        }
      }
    }
  }
  .row {
    background: #FCFCFC;
    padding: 40px 25px 20px;
    margin: 0;
    border: 1px solid #C9B48C;
    border-radius: 10px;
  }
  h3 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 20px;
    text-align: center;
    font-weight: bold;
    color: #262B3E;
  }
  p {
    color: #000000;
    font-size: 16px;
    text-align: justify;
  }
  .item {
    margin-bottom: 50px;
  }
}

section.comparison {
  padding-top: 60px;
  padding-bottom: 100px;
  &.tab_block {
    border-top: 1px solid #C9B48C;
  }

  .d-flex {
    display: flex;
    overflow: auto;
    padding: 30px 20px 30px 0;
    /* width */
    &::-webkit-scrollbar {
      height: 8px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #C9B48C;
      border-radius: 10px;
    }
  }

  .close {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    opacity: .5;
    border-radius: 50%;
    box-shadow: 0 0 7px rgba(0, 0, 0, .1);
    outline: none;
    svg {
      height: 50%;
    }
    &:hover {
      opacity: 1;
    }
  }

  .comparison_box {
    min-width: 35%;
    max-width: 35%;
    position: relative;
  }

  .add_compare_box{
    .notshow{
      display: none;
    }
  }

  .arrow_box {
    padding-top: 140px;
    margin: 0 15px;
    svg {
      width: 50px;
    }
  }

  .section_title {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 50px;
  }
  .item {
    background: #FCFCFC;
    border: 1px solid #C9B48C;
    border-radius: 10px;
    padding: 20px 25px;
    max-height: 500px;
    height: 500px;
    overflow-y: auto;
    /* width */
    &::-webkit-scrollbar {
      width: 8px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #C9B48C;
      border-radius: 10px;
    }
  }

  .law_name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #262B3E;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    .icon {
      width: 80px;
      height: 80px;
      margin-right: 15px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .block_title {
    margin: 0;
    color: #262B3E;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 20px;
  }
  p {
    color: black;
    font-size: 14px;
    text-align: justify;
    margin-bottom: 25px;
  }
  .text_counter {
    display: flex;
    flex-direction: column;
    span {
      color: #A9A9A9;
      font-size: 12px;
      margin: 0;
    }
    b {
      font-weight: bold;
      color: black;
    }
  }

  .add_compare_btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 170px;
    text-align: center;
    position: relative;
    top: 40%;
    background: transparent;
    border: none;
    font-weight: bold;
    color: #A9A9A9;
    transform: translateY(-50%);
    outline: none;
    svg {
      width: 35px;
      height: auto;
      margin-bottom: 15px;
    }
  }

  .performance_list {
    display: none;
    .item {
      padding: 0;
    }
    .arrow {
      padding-left: 0;
      margin-left: 0;
      margin-right: 15px;
    }
    .icon {
      min-width: 80px;
      max-width: 80px;
      height: 80px;
      margin-right: 20px;
      img, svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .li {
      button {
        color: black;
        font-weight: bold;
        font-size: 18px;
        &.active {
          background: transparent;
          .arrow {
            svg {
              path {
                fill: #C9B48C;
              }
            }
          }
        }
      }
      .item_inside {
        padding-left: 35px;
        padding-bottom: 30px;
      }
    }
  }
}

section.doctrine {
  padding: 50px 0;

  .block_title {
    margin: 0;
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 20px;
  }

  .content {
    padding-top: 50px;
  }

  .topButtons_slider {
    border: 1px solid #C9B48C;
    border-left: none;
    border-right: none;
    padding: 0 30px;
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
    /* width */
    &::-webkit-scrollbar {
      height: 8px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(201, 180, 140, 0.5);
      border: 1px solid white;
      border-radius: 10px;
    }
    .col-12 {
      padding: 0;
      //top: 50%;
      //transform: translateY(-50%);
    }
    .col-lg-4{
      min-width: 33.33333%;
      max-width: 33.33333%;
    }
    .item {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px 15px;

      h2 {
        margin: 0 0 15px;
        color: #262B3E;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        text-align: center;
      }
      p {
        color: #C9B48C;
        font-size: 14px;
        text-align: center;
      }
      &.active {
        background: #C9B48C;
        h2 {
          color: #FFFFFF;
        }
        p {
          color: white;
        }
      }
    }

    .flickity-prev-next-button {
      width: 30px;
      height: 30px;
      &.previous {
        left: 0;
      }
      &.next {
        right: 0;
      }
    }
  }

  .sections_cont {
    padding-top: 50px;
    .item {
      margin-bottom: 30px;
    }
    .item_title {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      svg, img {
        width: 30px;
        height: 30px;
        margin-right: 15px;
      }
      h2 {
        color: #A68B64;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        margin: 0;
        font-size: 20px;
      }
    }
    p {
      font-size: 16px;
      color: black;
      letter-spacing: 1px;
      font-family: 'Roboto', sans-serif;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.bases {
  padding-bottom: 100px;
  .bases_tab_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-bottom: 15px;
    overflow: unset;
    margin-bottom: 50px;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      border-bottom: 1px solid #C9B48C;
    }

    button {
      height: unset;
      width: unset;
      color: #A9A9A9;
      font-size: 18px;
      text-transform: unset;
      font-weight: 400;
      position: relative;
      &:after {
        display: none;
        position: absolute;
        left: 50%;
        bottom: unset;
        transform: translateX(-50%);
        content: '';
        width: 0;
        height: 0;
        top: calc(100% + 5px);
        border-top: none;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 10px solid #C9B48C !important;
        background: none;
        z-index: 1;
      }
      &:before {
        display: none;
        content: '';
        position: absolute;
        top: calc(100% + 6px);
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        z-index: 2;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-bottom: 10px solid white;
      }
      &.active {
        color: #C9B48C;
        background: none;
        border: none;
        &:before, &:after {
          display: block;
        }
        svg {
          path {
            stroke: #C9B48C;
          }
        }
      }
      svg, img {
        width: 30px;
        height: 30px;
        margin-right: 15px;
        path {
          stroke: #A9A9A9;
        }
      }
    }
  }
  .bases_articles {
    padding: 0 25px;
    .item {
      margin-bottom: 30px;
      .item_title {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
      .arrow {
        width: 7px;
        margin-right: 10px;
        svg, img {
          width: 100%;
        }
      }
      h2 {
        margin: 0;
        letter-spacing: 1px;
        color: #000000;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 400;
      }
      p {
        font-size: 14px;
        letter-spacing: 1px;
        color: #000000;
        text-align: justify;
      }
    }
  }
  .performance{
    .tab_content{
      height: 550px;
      .scroll_box{
        max-height: calc(550px - 60px);
      }
    }
    .btns{
      a{
        border: 1px solid #C9B48C;
        border-radius: 5px;
        height: 45px;
        display: flex;
        align-items: center;
        padding: 0 15px;
        width: fit-content;
        color: #C9B48C;
        font-family: 'Roboto', sans-serif;
        svg{
          width: 20px;
          height: 20px;
        }
      }
    }
    .item{
      h2{
        text-align: left;
      }
      h3{
        max-width: 235px;
        letter-spacing: 1px;
        color: #000000;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  section.top_buttons{
    margin-top: 30px;
    .container{
      padding: 0;
    }
    .col-12{
      min-width: 60%;
      max-width: 60%;
      padding: 0;
    }
    .flickity-prev-next-button{
      display: none;
    }
    &.type_2{
      margin-bottom: 0;
    }
  }
  section.principles{
    margin-bottom: 30px;
  }
  section.search{
    padding: 30px 0;
    input{
      height: 60px;
      margin-right: 20px;
      font-size: 16px;
      line-height: 14px;
      color: #A9A9A9;
      padding: 0 10px 0 20px;
    }
    button{
      height: 60px;
      padding: 0 25px;
      width: fit-content;
      margin-left: auto;
      font-size: 16px;
      line-height: 16px;
      svg{
        width: 25px;
        height: 25px;
        margin-right: 15px;
      }
    }
  }
  section.performance{
    margin-bottom: 0;
    .tab_buttons{
      max-width: 100%;
      display: flex;
      button{
        white-space: nowrap;
        font-size: 14px;
        line-height: 16px;
        height: unset;
        padding: 10px 20px;
        &.active{
          background: unset;
          border: none;
          &:after, &:before{
            display: block;
          }
        }
        &:after {
          display: none;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          content: '';
          width: 0;
          height: 0;
          top: unset;
          bottom: 0;
          border-top: none;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 10px solid #C9B48C !important;
          background: none;
          z-index: 1;
        }
        &:before {
          display: none;
          content: '';
          position: absolute;
          top: unset;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          z-index: 2;
          border-left: 14px solid transparent;
          border-right: 14px solid transparent;
          border-bottom: 9px solid white;
        }
      }
      .icon{
        min-width: 30px;
        max-width: 30px;
        height: 30px;
        margin-right: 12px;
        svg, img{
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
      }
    }
    .tab_content{
      height: unset;
      border-radius: 0;
      padding: 30px 20px;
      &:before{
        content: unset;
      }
      &:after{
        border: none;
        border-top: 1px solid #C9B48C;
        border-radius: 0;
        z-index: -1;
      }
      .scroll_box{
        max-height: unset;
        overflow: unset;
        padding: 0;
        margin-bottom: 50px;
      }
      .item{
        margin-bottom: 30px;
      }
      .source{
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
      }
      .block_title{
        font-weight: 500;
        margin-bottom: 14px;
      }
      p{
        margin-bottom: 30px;
      }
      .btns{
        justify-content: center;
        flex-wrap: nowrap;
        a, button{
          max-width: 150px;
          margin: 0 7.5px;
          .absolute{
            right: -10px;
            top: -10px;
          }
          .statistics{
            font-size: 9px;
            min-width: 20px;
            min-height: 20px;
            margin-left: 2px;
          }
        }
      }
    }
  }
  section.discussion{
    padding-top: 30px;
    margin-bottom: 30px;
    .tab_buttons{
      max-width: 100%;
      display: flex;
      button{
        width: unset;
        white-space: nowrap;
        font-size: 14px;
        line-height: 16px;
        height: unset;
        padding: 10px 20px;
        &.active{
          background: unset;
          border: none;
          &:after, &:before{
            display: block;
          }
        }
        &:after {
          display: none;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          content: '';
          width: 0;
          height: 0;
          top: unset;
          bottom: 0;
          border-top: none;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 10px solid #C9B48C !important;
          background: none;
          z-index: 1;
        }
        &:before {
          display: none;
          content: '';
          position: absolute;
          top: unset;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          z-index: 2;
          border-left: 14px solid transparent;
          border-right: 14px solid transparent;
          border-bottom: 9px solid white;
        }
      }
      .icon{
        min-width: 30px;
        max-width: 30px;
        height: 30px;
        margin-right: 12px;
        svg, img{
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
      }
    }
    .tab_content{
      .position{
        margin-bottom: 30px;
      }
    }
  }
  .state_position{
    margin-top: 30px!important;
  }
  section.bases{
    padding-bottom: 30px;
    .performance{
      .tab_content{
        height: unset;
        .btns{
          a, button{
            max-width: unset;
          }
        }
        .scroll_box{
          max-height: unset;
          overflow: unset;
        }
      }
    }
  }
  section.articles{
    .row{
      padding: 0;

    }
    .scroll_box{
      padding: 15px;
      max-height: unset;
      overflow: unset;
    }
  }
  section.bases{
    .bases_tab_buttons{
      padding-bottom: 0;
    }
  }
}

@media screen and (max-width: 575px) {
  .pagination{
    margin-top: 30px;
    margin-bottom: 100px;
    .page_num{
      height: 40px;
      min-width: 30px;
    }
    svg{
      width: 8px;
      margin-top: 8px;
    }
  }

  section.top_buttons{
    margin-top: 30px;
    .container{
      padding: 0;
    }
    .col-12{
      min-width: 80%;
      max-width: 80%;
      padding: 0;
    }
    .flickity-prev-next-button{
      display: none;
    }
    &.type_2{
      margin-bottom: 0;
      &:after{
        bottom: 18px;
      }
      .container{
        padding-bottom: 20px;
      }
      .item{
        padding-bottom: 40px;
        &.active{
          &:after{
            width: 30px;
            height: 15px;
            border-top: solid 15px #C9B48C;
            border-left: solid 15px transparent;
            border-right: solid 15px transparent;
          }
        }
      }
    }
    .item{
      padding-top: 20px;
      &.active{
        h2{
          font-weight: 600;
        }
      }
    }
    .num{
      font-size: 22px;
      line-height: 27px;
    }
    h2{
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
    }
    p{
      font-size: 12px;
      line-height: 15px;
    }
  }
  section.search{
    padding: 30px 5px 20px;
    input{
      height: 40px;
      margin-right: 15px;
      font-size: 12px;
      line-height: 14px;
      color: #A9A9A9;
      padding: 0 10px 0 20px;
    }
    button{
      height: 40px;
      padding: 0 20px;
      width: fit-content;
      margin-left: auto;
      font-size: 14px;
      line-height: 16px;
      svg{
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }
  section.item_list{
    .item{
      .icon{
        min-width: 30px;
        max-width: 30px;
        margin-right: 20px;
        svg{
          width: 100%;
        }
      }
      h2{
        font-size: 14px;
        line-height: 16px;
      }
      p{
        font-size: 12px;
        line-height: 14px;
      }
      .arrow{
        svg{
          width: 8px;
        }
      }
    }
  }
  section.page-title{
    .col{
      padding: 0;
    }
    h3{
      font-size: 20px;
      line-height: 32px;
      font-weight: 400;
      margin: 0 0 25px;
    }
    h2{
      margin: 0;
      font-size: 22px;
      line-height: 26px;
    }
  }
  section.principles{
    padding: 0 20px;
    margin-bottom: 50px;
    .col-lg-12{
      margin-bottom: 0;
      &:last-child{
        .col-12:last-child{
          a{
            margin-bottom: 0;
          }
        }
      }
    }
    a{
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 20px;
    }
  }
  section.performance{
    margin-bottom: 0;
    .tab_buttons{
      max-width: 100%;
      display: flex;
      button{
        white-space: nowrap;
        font-size: 14px;
        line-height: 16px;
        height: unset;
        padding: 10px 20px;
        &.active{
          background: unset;
          border: none;
          &:after, &:before{
            display: block;
          }
        }
        &:after {
          display: none;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          content: '';
          width: 0;
          height: 0;
          top: unset;
          bottom: 0;
          border-top: none;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 10px solid #C9B48C !important;
          background: none;
          z-index: 1;
        }
        &:before {
          display: none;
          content: '';
          position: absolute;
          top: unset;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          z-index: 2;
          border-left: 14px solid transparent;
          border-right: 14px solid transparent;
          border-bottom: 9px solid white;
        }
      }
      .icon{
        min-width: 30px;
        max-width: 30px;
        height: 30px;
        margin-right: 12px;
        svg, img{
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
      }
    }
    .tab_content{
      height: unset;
      border-radius: 0;
      padding: 30px 20px;
      &:before{
        content: unset;
      }
      &:after{
        border: none;
        border-top: 1px solid #C9B48C;
        border-radius: 0;
        z-index: -1;
      }
      .scroll_box{
        max-height: unset;
        overflow: unset;
        padding: 0;
        margin-bottom: 50px;
      }
      .item{
        margin-bottom: 30px;
      }
      .source{
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        h3, a{
          font-size: 14px;
          line-height: 16px;
        }
      }
      .block_title{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 14px;
      }
      p{
        font-size: 14px;
        margin-bottom: 30px;
      }
      .btns{
        justify-content: center;
        flex-wrap: nowrap;
        a, button{
          max-width: 150px;
          margin: 0 7.5px;
          .absolute{
            right: -10px;
            top: -10px;
          }
          .statistics{
            font-size: 9px;
            min-width: 20px;
            min-height: 20px;
            margin-left: 2px;
          }
        }
      }
    }
  }
  section.comparison{
    padding-top: 30px;
    .section_title{
      margin-top: 0;
      font-size: 20px;
      margin-bottom: 20px;
    }
    .close{
      width: 40px;
      height: 40px;
    }
    .comparison_box{
      min-width: 80%;
      max-width: 80%;
      .item{
        max-height: 430px;
      }
    }
    .law_name{
      font-size: 18px;
      margin-bottom: 15px;
    }
    .arrow_box svg{
      width: 35px;
    }
    .d-flex{
      padding: 20px 20px 10px 0;
    }
    .performance_list{
      max-height: unset;
      overflow: unset;
      .arrow{
        margin-right: 10px;
      }
      .icon{
        min-width: 50px;
        max-width: 50px;
        height: 50px;
        margin-right: 10px;
      }
      .li{
        button{
          font-size: 16px;
        }
      }
    }
  }
  section.discussion{
    padding-top: 30px;
    margin-bottom: 0;
    .section_title{
      margin-top: 0;
      font-size: 24px;
      margin-bottom: 20px;
    }
    .section_subtitle{
      margin-top: 0;
      width: 100%;
      font-size: 16px;
      margin-bottom: 30px;
    }
    .tab_buttons{
      max-width: 100%;
      display: flex;
      button{
        white-space: nowrap;
        font-size: 14px;
        line-height: 16px;
        height: unset;
        padding: 10px 20px;
        &.active{
          background: unset;
          border: none;
          &:after, &:before{
            display: block!important;
          }
          &:last-child{
            &:after{
              border-bottom: 10px solid #C9B48C!important;
            }
          }
        }
        &:after {
          display: none;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          content: '';
          width: 0;
          height: 0;
          top: unset;
          bottom: 0;
          border-top: none;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 10px solid #C9B48C !important;
          background: none;
          z-index: 1;
        }
        &:before {
          display: none;
          content: '';
          position: absolute;
          top: unset;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          z-index: 2;
          border-left: 14px solid transparent;
          border-right: 14px solid transparent;
          border-bottom: 9px solid white;
        }
      }
      .icon{
        min-width: 30px;
        max-width: 30px;
        height: 30px;
        margin-right: 12px;
        svg, img{
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
      }
    }
    .tab_content{
      height: unset;
      border-radius: 0;
      padding: 30px 20px;
      &:before{
        content: unset;
      }
      &:after{
        border: none;
        border-top: 1px solid #C9B48C;
        border-radius: 0;
        z-index: -1;
      }
      .scroll_box{
        max-height: unset;
        overflow: unset;
        padding: 0;
        margin-bottom: 50px;
      }
      .item{
        margin-bottom: 30px;
      }
      .position{
        padding: 0;
        margin-bottom: 30px;
      }
      .user{
        .avatar{
          margin-right: 10px;
        }
        .text{
          .name{
            font-size: 16px;
            line-height: 20px;
          }
          .date{
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
      .arguments_list{
        .argument{
          flex-wrap: wrap;
        }
        .text{
          width: 100%;
          font-size: 14px;
          margin-top: 10px;
        }
      }
      .title_box{
        padding: 0;
        margin-bottom: 30px;
        h2{
          font-weight: 500;
          font-size: 20px;
          line-height: 16px;
          margin-bottom: 14px;
        }
        h3{
          font-size: 16px;
        }
      }
      p{
        font-size: 14px;
        margin-bottom: 30px;
      }
      .btns{
        justify-content: center;
        flex-wrap: nowrap;
        a, button{
          max-width: 150px;
          margin: 0 7.5px;
          .absolute{
            right: -10px;
            top: -10px;
          }
          .statistics{
            font-size: 9px;
            min-width: 20px;
            min-height: 20px;
            margin-left: 2px;
          }
        }
      }
    }
  }
  section.doctrine{
    .topButtons_slider{
      margin-top: 30px;
      padding: 0;
      .container{
        padding: 0;
      }
      .col-12{
        min-width: 80%;
        max-width: 80%;
        padding: 0;
      }
      .flickity-prev-next-button{
        display: none;
      }
      &.type_2{
        margin-bottom: 0;
        &:after{
          bottom: 18px;
        }
        .container{
          padding-bottom: 20px;
        }
        .item{
          padding-bottom: 40px;
          &.active{
            &:after{
              width: 30px;
              height: 15px;
              border-top: solid 15px #C9B48C;
              border-left: solid 15px transparent;
              border-right: solid 15px transparent;
            }
          }
        }
      }
      .item{
        padding-top: 20px;
        &.active{
          h2{
            font-weight: 600;
          }
        }
      }
      .num{
        font-size: 22px;
        line-height: 27px;
      }
      h2{
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
      }
      p{
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
  section.bases{
    padding-bottom: 20px;
    .bases_tab_buttons{
      width: fit-content;
      max-width: 100%;
      overflow: auto;
      display: flex;
      margin-bottom: 0;
      padding-bottom: 0;
      &:after{
        display: none;
      }
      button{
        white-space: nowrap;
        font-size: 14px;
        line-height: 16px;
        height: unset;
        padding: 10px 20px;
        &.active{
          background: unset;
          border: none;
          &:after, &:before{
            display: block;
          }
        }
        &:after {
          display: none;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          content: '';
          width: 0;
          height: 0;
          top: unset;
          bottom: 0;
          border-top: none;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 10px solid #C9B48C !important;
          background: none;
          z-index: 1;
        }
        &:before {
          display: none;
          content: '';
          position: absolute;
          top: unset;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          z-index: 2;
          border-left: 14px solid transparent;
          border-right: 14px solid transparent;
          border-bottom: 9px solid white;
        }
      }
      .icon{
        min-width: 30px;
        max-width: 30px;
        height: 30px;
        margin-right: 12px;
        svg, img{
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
      }
    }
    .tab_block{
      padding-top: 20px;
      &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        border-top: 1px solid #C9B48C;
      }
    }
    .performance{
      .btns{
        a{
          max-width: unset;
        }
      }
      .tab_block{
        &:before{
          display: none;
        }
        .tab_content{
          padding-left: 0;
          padding-right: 0;
          height: unset;
          .scroll_box{
            max-height: unset;
            overflow: unset;
          }
        }
      }
    }
    .bases_articles{
      padding: 0;
    }
  }
  section.articles{
    .row{
      padding: 0;

    }
    .scroll_box{
      padding: 15px;
      max-height: unset;
      overflow: unset;
    }
  }
}
