@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.text_counter span {
    color: #A9A9A9;
    font-size: 12px;
    margin: 0;
}

.text_counter b {
    font-weight: bold;
    color: black;
}

@media only screen and (max-width: 600px) {
    #hide_show_comparing_articles {
        margin-top: 20px !important;
        float: right;
        margin-right: 20px !important;
        margin-bottom: 3px !important;
    }
}

#hide_show_comparing_articles {
    margin-top: -20px;
    margin-bottom: -20px;
    float: right;
    margin-left: 20px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 50px;
}

.pagination .page_num {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 35px;
    width: 30px;
    background: #FCFCFC;
    border: 1px solid #C9B48C;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #A9A9A9;
    margin: 0 5px;
}

.pagination .page_num.active {
    background: #C9B48C;
    color: white;
}

.pagination svg {
    width: 10px;
    height: unset;
    margin-top: 3px;
}

.pagination .prev_icon {
    margin-right: 10px;
}

.pagination .next_icon {
    margin-left: 10px;
}

.buttons_list {
    background: #FCFCFC;
    border: 1px solid #C9B48C;
    border-radius: 10px;
    width: 100%;
    max-height: 520px;
    overflow: auto;
    padding: 0 !important;
    /* width */
    /* Handle */
}

.buttons_list::-webkit-scrollbar {
    width: 8px;
    margin-right: 5px;
}

.buttons_list::-webkit-scrollbar-thumb {
    background: rgba(201, 180, 140, 0.5);
    border: 1px solid white;
    border-radius: 10px;
}

.buttons_list .li {
    width: 100%;
    border-bottom: 1px solid #C9B48C;
}

.buttons_list .li button {
    display: flex;
    align-items: center;
    padding: 15px 15px;
    color: #262B3E;
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    outline: none;
    transition: .3s;
}
.buttons_list .li button:hover{
    background: #f5f5f5;
}

.buttons_list .li button.active {
    background: #C9B48C;
    color: white;
}

.buttons_list .li button.active .tr {
    color: white;
}

.buttons_list .li button.active .arrow svg path {
    fill: white;
}

.buttons_list .li:last-child {
    border-bottom: none;
}

.buttons_list .tr {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 25px;
    color: #C9B48C;
    font-weight: bold;
    min-width: 40px;
    text-align: center;
    margin-right: 10px;
    text-transform: uppercase;
}

.buttons_list .arrow {
    padding-left: 15px;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.buttons_list .arrow svg {
    width: 7px;
    height: auto;
    transition: transform .3s ease;
}

.buttons_list .item_inside {
    display: none;
    padding: 10px 0;
    padding-left: 65px;
}

.buttons_list .item_inside a {
    display: flex;
    width: fit-content;
    color: #262B3E;
    margin-bottom: 5px;
}
.buttons_list .item_inside a:hover{
    text-decoration: underline;
}
.buttons_list .item_inside a:last-child {
    margin-bottom: 0;
}

.buttons_list .item_inside a:hover {
    color: #C9B48C;
}


/*----------------------Nice select----------------------------*/

.nice-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 35px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
    background: white;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.nice-select:hover {
    border-color: #dbdbdb;
}

.nice-select:active,
.nice-select.open {
    border-color: #999;
}

.nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px;
}

.nice-select.open:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
}

.nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none;
}

.nice-select.disabled:after {
    border-color: #cccccc;
}

.nice-select.wide {
    width: 100%;
}

.nice-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}

.nice-select.right {
    float: right;
}

.nice-select.right .list {
    left: auto;
    right: 0;
}

.nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px;
}

.nice-select.small:after {
    height: 4px;
    width: 4px;
}

.nice-select.small .option {
    line-height: 34px;
    min-height: 34px;
}

.nice-select .list {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    -o-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.nice-select .option:hover,
.nice-select .option.focus {
    background-color: #f6f6f6;
}

.nice-select .option.selected {
    font-weight: bold;
}

.nice-select .option.selected.focus {
    background-color: #f6f6f6;
}

.nice-select .option.disabled {
    background-color: transparent;
    color: #999;
    cursor: default;
}

.nice-select span.current {
    letter-spacing: 1px;
    color: #0B1022;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 20px;
}

.no-csspointerevents .nice-select .list {
    display: none;
}

.no-csspointerevents .nice-select.open .list {
    display: block;
}


/*----------------------Nice select----------------------------*/


/*! Flickity v2.2.1
---------------------------------------------- */

.flickity-enabled {
    position: relative;
}

.flickity-enabled:focus {
    outline: none;
}

.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* draggable */

.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}


/* ---- flickity-button ---- */

.flickity-button {
    position: absolute;
    background: rgba(255, 255, 255, 0.75);
    border: none;
    color: #C9B48C;
    outline: none;
}

.flickity-button:hover {
    background: white;
    cursor: pointer;
}

.flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
    opacity: 0.6;
}

.flickity-button:disabled {
    opacity: 0.3;
    cursor: auto;
    /* prevent disabled button from capturing pointer up event. #716 */
    pointer-events: none;
}

.flickity-button-icon {
    fill: currentColor;
}


/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
    top: 50%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* vertically center */
    transform: translateY(-50%);
    border: 1px solid #C9B48C;
}

.flickity-prev-next-button.previous {
    left: -15px;
}

.flickity-prev-next-button.next {
    right: -15px;
}


/* right to left */

.flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: -10px;
}

.flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: -10px;
}

.flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 35%;
}


/* ---- page dots ---- */

.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}

.flickity-rtl .flickity-page-dots {
    direction: rtl;
}

.flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    opacity: 0.25;
    cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
    opacity: 1;
}


/* ---- flickity-button ---- */

.tab_buttons {
    width: calc(100% + 10px);
    max-height: 660px;
    overflow: auto;
    direction:rtl;

}
.tab_buttons::-webkit-scrollbar {
    width: 5px;
}

.tab_buttons::-webkit-scrollbar-thumb {
    background: #C9B48C;
    border-radius: 10px;
}


.tab_buttons button {
    direction:ltr;

    display: flex;
    align-items: center;
    width: calc(100% - 20px);
    height: 110px;
    margin-right: 10px;
    padding: 0 25px;
    background: white;
    border: 1px solid transparent;
    border-right: none;
    border-radius: 10px 0px 0px 10px;
    outline: none;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #262B3E;
    position: relative;
}
.tab_block .tab_buttons button:hover {
    background: #f5f5f5;
}
.tab_buttons button:after {
    height: calc(100% + 1px);
    width: 8px;
    background: transparent;
    content: '';
    position: absolute;
    right: -1px;
    top: -1px;
    z-index: 9;
}

.tab_buttons button:first-child:after {
    right: -8px;
}


.tab_buttons button.active {
    border-color: #C9B48C;
    background: #FCFCFC;
    font-weight: bold;

}

.tab_buttons button.active:after {
    background: #FCFCFC;
    border-top: 1px solid #C9B48C;
}



.tab_buttons .icon {
    min-width: 80px;
    max-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.tab_buttons .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tab_buttons .icon svg {
    width: 60px;
    height: 60px;
}

.tab_buttons .add_btn {
    font-weight: 400;
}

.tab_content {
    height: 660px;
    border-radius: 10px;
    padding: 40px 15px;
    position: relative;
}

.tab_content:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #FCFCFC;
    z-index: -5;
    border-radius: 10px;
}

.tab_content:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #C9B48C;
    border-radius: 10px;
    z-index: -5;
}

.tab_content .row {
    margin: 0;
}

.tab_content .row .col-12 {
    padding: 0;
}

.tab_content .title_box {
    padding: 0 15px;
    margin-bottom: 50px;
}

.tab_content .title_box h2 {
    color: #262B3E;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 25px;
    font-family: 'Roboto', sans-serif;
}

.tab_content .title_box h3 {
    color: black;
    text-align: justify;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
}

.tab_content .title_box h4 {
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
}

.tab_content .title_box > a {
    display: flex;
    align-items: center;
    margin-top: 60px;
    font-size: 16px;
    color: #262B3E;
    padding-left: 10px;
}

.tab_content .title_box > a svg {
    margin-right: 10px;
    width: 20px;
}

.tab_content .scroll_box {
    max-height: calc(660px - 80px);
    overflow: auto;
    padding: 0 15px;
    /* width */
    /* Handle */
}

.tab_content .scroll_box::-webkit-scrollbar {
    width: 8px;
}

.tab_content .scroll_box::-webkit-scrollbar-thumb {
    background: #C9B48C;
    border-radius: 10px;
}

.tab_content .position {
    padding: 0 15px;
}

.tab_content .position .position_item {
    margin-bottom: 60px;
}

.tab_content .position .position_item:last-child {
    margin-bottom: 0;
}

.tab_content .position.pro .block_title .type,
.tab_content .position.pro .user .type {
    text-transform: uppercase;
    color: #60BA0F;
    font-weight: bold;
}

.tab_content .position.pro .arguments_list .order {
    background: #00B800;
}

.tab_content .position.pro .btns .contra_btn .statistics {
    background: #EB0000;
}

.tab_content .position.contra .block_title .type,
.tab_content .position.contra .user .type {
    text-transform: uppercase;
    color: #E93F33;
    font-weight: bold;
}

.tab_content .position.contra .arguments_list .order {
    background: #EB0000;
}

.tab_content .position.contra .btns .contra_btn .statistics {
    background: #00B800;
}

.tab_content .position .inside_items {
    padding-left: 100px;
}

.tab_content .position .inside_items .btns button,
.tab_content .position .inside_items .btns a {
    width: fit-content;
    margin-right: 20px;
    margin-left: 0 !important;
    padding: 0 25px;
}

.tab_content .item {
    margin-bottom: 40px;
}

.stick {
    display: flex;
    margin: 35px auto;
    width: 50%;
    border: 1px solid #C9B48C;
}

.tab_content .item .stick {
    display: flex;
    margin: 35px auto;
    width: 50%;
    border: 1px solid #C9B48C;
}

.tab_content .block_title {
    margin: 0;
    color: #262B3E;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.tab_content .user {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.tab_content .user .avatar {
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    margin-right: 20px;
}

.tab_content .user .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.tab_content .user .text .name {
    font-weight: 400;
    font-size: 18px;
    color: black;
    line-height: 26px;
}

.tab_content .user .text .date {
    color: #A9A9A9;
    font-size: 16px;
    line-height: 26px;
}

.tab_content .arguments_list {
    padding-top: 10px;
    margin-bottom: 45px;
}

.tab_content .arguments_list .argument {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
}

.tab_content .arguments_list .argument:last-child {
    margin-bottom: 0;
}

.tab_content .arguments_list .order {
    border-radius: 3px;
    height: 35px;
    min-width: fit-content;
    margin-right: 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: white;
    font-size: 14px;
}

.tab_content .arguments_list .text {
    text-align: justify;
    color: black;
    font-size: 14px;
}

.tab_content .comments_list {
    padding: 0 15px;
}

.tab_content .btns {
    display: flex;
    flex-wrap: wrap;
}

.tab_content .btns button,
.tab_content .btns a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 45px;
    width: calc(50% - 10px);
    border-radius: 5px;
    border: 1px solid transparent;
    position: relative;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

.tab_content .btns button:nth-child(even),
.tab_content .btns a:nth-child(even) {
    margin-left: auto;
}

.tab_content .btns button svg,
.tab_content .btns a svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    transition: .3s;
}

.tab_content .btns button.compare_btn,
.tab_content .btns a.compare_btn {
    background: #FCFCFC;
    border-color: #C9B48C;
    color: #C9B48C;
    transition: .3s;

}

.tab_content .btns button.compare_btn:hover svg,
.tab_content .btns a.compare_btn:hover svg  {
    filter: invert(1) brightness(1000%);
}
.tab_content .btns button.compare_btn:hover,
.tab_content .btns a.compare_btn:hover {
    background: #C9B48C;
    border-color: #FCFCFC;
    color: #FCFCFC;
}

.tab_content .btns button.discuss_btn,
.tab_content .btns a.discuss_btn {
    background: #C9B48C;
    color: white;
    transition: .3s;
}
.tab_content .btns button.discuss_btn:hover,
.tab_content .btns a.discuss_btn:hover {
    background: #b99755;
    color: white;
}

.tab_content .btns button.contra_btn,
.tab_content .btns a.contra_btn {
    text-transform: uppercase;
}

.tab_content .btns button .absolute,
.tab_content .btns a .absolute {
    position: absolute;
    right: -15px;
    top: -15px;
    display: flex;
}

.tab_content .btns button .statistics,
.tab_content .btns a .statistics {
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
}

.tab_content .btns button .statistics.green,
.tab_content .btns a .statistics.green {
    background: #00B800;
}

.tab_content .btns button .statistics.red,
.tab_content .btns a .statistics.red {
    background: #EB0000;
}

.tab_content p {
    color: black;
    font-size: 14px;
    text-align: justify;
    margin-bottom: 25px;
}

.tab_content .source {
    margin-bottom: 40px;
}

.tab_content .source h3 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 10px;
}

.tab_content .source a {
    display: flex;
    color: #0C1D74;
    text-decoration: underline;
}

.tab_content .source a:hover {
    text-decoration: none;
}

.tab_content .textarea {
    margin-bottom: 30px;
}

.tab_content .textarea label {
    font-weight: 400;
}

.tab_content .textarea .tox-statusbar__branding,
.tab_content .textarea .tox-menubar {
    display: none !important;
}

.tab_content .textarea .tox-toolbar {
    border-top: none;
}

.tab_content .textarea .tox-sidebar-wrap {
    height: 200px !important;
}

.tab_content .textarea .tox-tinymce {
    border-color: #CCCCCC;
    border-radius: 5px;
    height: 270px !important;
}

.tab_content.no_bg:after,
.tab_content.no_bg:before {
    display: none;
}

.tab_content .state_position {
    margin-top: 60px;
}

.tab_content .state_position .block_title {
    text-align: left;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}

.tab_content .state_position .nice-select {
    width: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.tab_content .state_position button[type=submit] {
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 45px;
    border-radius: 5px;
    color: white;
    background: #C9B38E;
    border: none;
    font-weight: bold;
}

.tab_content .state_position .required {
    margin-top: 30px;
    font-size: 14px;
    color: black;
}

.tab_content .state_position .add_argument {
    margin-bottom: 20px;
    border-bottom: 1px solid #F0F0F0;
}

.tab_content .state_position .add_argument .head .theargument {
    margin-bottom: 5px;
    position: relative;
}

.tab_content .state_position .add_argument .head .close {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    outline: none;
}

.tab_content .state_position .add_argument .head .close svg {
    width: 60%;
}

.tab_content .state_position .add_argument .head .name {
    width: 100%;
    background: #FCFCFC;
    border: 1px solid #F0F0F0;
    padding: 0 15px;
    height: 35px;
    display: flex;
    align-items: center;
    color: #969696;
    outline: none;
}

.tab_content .state_position .add_argument .head textarea {
    width: 100%;
    padding: 12px;
    padding-bottom: 0;
    height: 150px;
    resize: none;
    border: 1px solid #CCCCCC;
}

.tab_content .state_position .add_argument .body {
    padding-bottom: 10px;
    padding-top: 20px;
}

.tab_content .state_position .add_argument .add_argument_btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: black;
    outline: none;
}

.tab_content .state_position .add_argument .add_argument_btn svg {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.tab_block {
    display: none;
}

.tab_block.active {
    display: block;
}
section.page-title h3 {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin: 0.5em 0 0.30em;
    text-transform: uppercase;
}

section.page-title h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size:35px !important;
}

section.search {
    margin-bottom: 30px;
}

section.search form {
    display: flex;
}

section.search input {
    background: #FCFCFC;
    border: 2px solid #C9B48C;
    border-radius: 5px;
    height: 60px;
    width: 100%;
    outline: none;
    font-weight: 300;
    font-size: 20px;
    line-height: 37px;
    color: #A9A9A9;
    padding: 0 30px;
    transition: .3s;
}
section.search input:focus{
    background: #f5f5f5;
}

section.search button {
    padding: 0 40px;
    display: flex;
    align-items: center;
    height: 80px;
    margin-left: 70px;
    background: #C9B48C;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 300;
    font-size: 25px;
    line-height: 46px;
    transition: .3s;
}
section.search button:hover {
    background: #b99c69;

}
section.search button svg {
    width: 40px;
    fill: white;
    margin-right: 20px;
}

section.item_list {
    background: white;
}

section.item_list .item {
    margin-bottom: 20px;
    position: relative;
    background: #FCFCFC;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
    transition: .3s;
}
section.item_list .item:hover{
    background: #f5f5f5;
}

section.item_list .item .container {
    display: flex;
    align-items: center;
}

section.item_list .item .icon {
    margin-right: 35px;
}

section.item_list .item .icon svg {
    width: 50px;
}

section.item_list .item .text {
    padding-right: 15px;
}

section.item_list .item h2 {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 1px;
    margin: 0 0 10px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

section.item_list .item p {
    font-size: 20px;
    letter-spacing: 1px;
    color: #A9A9A9;
}

section.item_list .item .arrow {
    margin-left: auto;
}

section.item_list .item .arrow svg {
    width: 10px;
}

section.top_buttons {
    border-top: 2px solid #C9B48C;
    margin-top: 20px;
    position: relative;
    margin-bottom: 10px;
    border-bottom: none;
}

section.top_buttons:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 19px;
    width: 100%;
    height: 2px;
    background: #C9B48C;
}
section.top_buttons.slider:after{
    bottom: 19px;
}
.dragscroll {
    overflow: auto;
    transition: .3s;
    padding-bottom: 20px;
}

section.top_buttons .dragscroll .arrow {
    z-index: 40;
    position: absolute;
    top: calc(50% - 10px);
    transform: translate(0, -50%);
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: .3s;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
section.top_buttons .dragscroll .arrow:hover img {
    filter: invert(1) brightness(1000%);
}
section.top_buttons .dragscroll .arrow:hover{
    background: #C9B48C;
}
section.top_buttons .dragscroll .arrow img {
    transition: .3s;
    width: 16px;
}

section.top_buttons .dragscroll .arrow.prev {
    left: 40px;
}
section.top_buttons .dragscroll .arrow.next {
    right: 40px;
}

section.top_buttons .dragscroll::-webkit-scrollbar {
    height: 6px;
}

section.top_buttons .dragscroll::-webkit-scrollbar-thumb {
    background: #C9B48C;
    border-radius: 10px;
}

section.top_buttons .flickity-viewport {
    overflow: visible;
}

section.top_buttons .container {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    padding: 0 30px;
    padding-bottom: 0px;
}

section.top_buttons .topButtons_slider {
    display: flex;
    height: 190px;
    justify-content: center;
    /* width */
}
.doctrine section.top_buttons .topButtons_slider{
    justify-content: flex-start;
}

section.top_buttons .topButtons_slider .viewport {
    overflow: unset;
}

section.top_buttons .topButtons_slider .overview {
    display: flex;
    height: calc(100% + 5px);
}

section.top_buttons .topButtons_slider .scroll-bar {
    height: 8px;
    bottom: -10px;
}

section.top_buttons .topButtons_slider .thumb {
    background-color: rgba(201, 180, 140, 0.5) !important;
    opacity: 1 !important;
    border-radius: 10px;
}
.topButtons_slider .arrow img{
    width: 12px;
}
section.top_buttons .col-12 {
    min-width: 100%;
    max-width: 100%;
    padding: 0;
}

section.top_buttons .col-lg-3 {
    min-width: 20vw;
    max-width: 20vw;
}

section.top_buttons .item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 15px 30px;
    background: white;
    border: none;
    border-radius: 7px 7px 0px 0px;
    outline: none;
    position: relative;
    transition: .3s;
    text-decoration: unset;
}
section.top_buttons .item:hover{
    background: #fffaf0;
}

section.top_buttons .item.active {
    background: #C9B48C;
    border-radius: 7px;
}

section.top_buttons .item.active .num {
    color: white;
}

section.top_buttons .item.active h2 {
    color: white;
}

section.top_buttons .item.active p {
    color: white;
}

section.top_buttons.type_2 {
    margin-bottom: 0;
}

section.top_buttons.type_2 .item {
    padding-bottom: 45px;
}

section.top_buttons.type_3 .item {
    padding-bottom: 60px;
}

section.top_buttons.type_3 p {
    bottom: 10px;
}

section.top_buttons.type_3 .num {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 26px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #262B3E;
}

section.top_buttons.type_4 .topButtons_slider {
    height: 200px;
}

section.top_buttons .num {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 40px;
    color: #C9B48C;
    text-align: center;
}

section.top_buttons h2 {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    text-align: center;
}
section.top_buttons.type_3 h2{
    font-weight: 500;
    font-size: 18px;
}

section.top_buttons p {
    font-size: 16px;
    line-height: 38px;
    color: #C9B48C;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
}

section.principles {
    margin-top: 20px;
    margin-bottom: 20px;
}

section.principles .container {
    background: #C9B48C;
    border-radius: 10px;
    padding: 10px 15px;
}

section.principles .col-lg-12 {
    margin-bottom: 20px;
}

section.principles .col-lg-12:last-child {
    margin-bottom: 0;
}

section.principles a {
    font-size: 16px;
    color: #FFFFFF;
    margin: 5px 0;
    width: fit-content;
}
section.principles a:hover{
    text-decoration: underline;
}
section.performance {
    margin-bottom: 80px;
}

section.performance .col-lg-4,
section.performance .col-lg-8 {
    padding: 0;
}

section.performance .col-12 {
    position: relative;
}

section.discussion {
    padding-top: 80px;
    margin-bottom: 80px;
}

section.discussion.tab_block {
    border-top: 1px solid #C9B48C;
}

section.discussion .col-lg-4,
section.discussion .col-lg-8 {
    padding: 0;
}

section.discussion .col-12 {
    position: relative;
}

section.discussion .tab_buttons button.active:last-child:after {
    border-bottom: none !important;
}

section.discussion .section_title {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 25px;
}

section.discussion .section_subtitle {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    width: 90%;
    line-height: 32px;
    margin-bottom: 80px;
}

section.discussion .tab_content {
    height: auto;
}

section.articles {
    padding-top: 50px;
    padding-bottom: 50px;
}

section.articles .col-12 {
    padding: 0;
}

section.articles .scroll_box {
    max-height: 900px;
    overflow-y: auto;
    padding: 0 25px;
    /* width */
    /* Handle */
}

section.articles .scroll_box::-webkit-scrollbar {
    width: 8px;
    margin-right: 15px;
}

section.articles .scroll_box::-webkit-scrollbar-thumb {
    background: rgba(201, 180, 140, 0.5);
    border: 1px solid white;
    border-radius: 10px;
}

section.articles .btns {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

section.articles .btns button,
section.articles .btns a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 45px;
    width: calc(50% - 10px);
    border-radius: 5px;
    border: 1px solid transparent;
    position: relative;
    outline: none;
}

section.articles .btns button:nth-child(even),
section.articles .btns a:nth-child(even) {
    margin-left: auto;
}

section.articles .btns button svg,
section.articles .btns a svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

section.articles .btns button.compare_btn,
section.articles .btns a.compare_btn {
    background: #FCFCFC;
    border-color: #C9B48C;
    color: #C9B48C;
}

section.articles .btns button.discuss_btn,
section.articles .btns a.discuss_btn {
    background: #C9B48C;
    color: white;
}

section.articles .btns button.contra_btn,
section.articles .btns a.contra_btn {
    text-transform: uppercase;
}

section.articles .btns button .absolute,
section.articles .btns a .absolute {
    position: absolute;
    right: -15px;
    top: -15px;
    display: flex;
}

section.articles .btns button .statistics,
section.articles .btns a .statistics {
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
    padding: 0 2px;
}

section.articles .btns button .statistics.green,
section.articles .btns a .statistics.green {
    background: #00B800;
}

section.articles .btns button .statistics.red,
section.articles .btns a .statistics.red {
    background: #EB0000;
}

section.articles .row {
    background: #FCFCFC;
    padding: 40px 25px 20px;
    margin: 0;
    border: 1px solid #C9B48C;
    border-radius: 10px;
}

section.articles h3 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 20px;
    text-align: center;
    font-weight: bold;
    color: #262B3E;
}

section.articles p {
    color: #000000;
    font-size: 16px;
    text-align: justify;
}

section.articles .item {
    margin-bottom: 50px;
}

section.comparison {
    padding-top: 60px;
    padding-bottom: 100px;
}
section.comparison *{
    overflow-wrap: break-word;
}
section.comparison.tab_block {
    border-top: 1px solid #C9B48C;
}

section.comparison .d-flex {
    display: flex;
    overflow: auto;
    padding: 30px 20px 30px 0;
    /* width */
    /* Handle */
}

section.comparison .d-flex::-webkit-scrollbar {
    height: 8px;
}

section.comparison .d-flex::-webkit-scrollbar-thumb {
    background: #C9B48C;
    border-radius: 10px;
}

section.comparison .close {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    opacity: .5;
    border-radius: 50%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    outline: none;
}

section.comparison .close svg {
    height: 50%;
}

section.comparison .close:hover {
    opacity: 1;
}

section.comparison .comparison_box {
    min-width: 35%;
    max-width: 35%;
    position: relative;
}

section.comparison .add_compare_box .notshow {
    display: none;
}

section.comparison .arrow_box {
    padding-top: 140px;
    margin: 0 15px;
}

section.comparison .arrow_box svg {
    width: 50px;
}

section.comparison .section_title {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

section.comparison .item {
    background: #FCFCFC;
    border: 1px solid #C9B48C;
    border-radius: 10px;
    padding: 20px 25px;
    max-height: 500px;
    height: 500px;
    overflow-y: auto;
    /* width */
    /* Handle */
}

section.comparison .item::-webkit-scrollbar {
    width: 8px;
}

section.comparison .item::-webkit-scrollbar-thumb {
    background: #C9B48C;
    border-radius: 10px;
}

section.comparison .law_name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #262B3E;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

section.comparison .law_name .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

section.comparison .law_name .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

section.comparison .block_title {
    margin: 0;
    color: #262B3E;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

section.comparison p {
    color: black;
    font-size: 14px;
    text-align: justify;
    margin-bottom: 25px;
    overflow-wrap: break-word;
}

section.comparison .text_counter {
    display: flex;
    flex-direction: column;
}

section.comparison .text_counter span {
    color: #A9A9A9;
    font-size: 12px;
    margin: 0;
}

section.comparison .text_counter b {
    font-weight: bold;
    color: black;
}

section.comparison .add_compare_btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    background: transparent;
    border: none;
    font-weight: bold;
    color: #A9A9A9;
    outline: none;
}

section.comparison .add_compare_btn svg {
    width: 35px;
    height: auto;
    margin-bottom: 15px;
}

section.comparison .performance_list {
    display: none;
}

section.comparison .performance_list .item {
    padding: 0;
}

section.comparison .performance_list .arrow {
    padding-left: 0;
    margin-left: 0;
    margin-right: 15px;
}

section.comparison .performance_list .icon {
    min-width: 80px;
    max-width: 80px;
    height: 80px;
    margin-right: 20px;
}

section.comparison .performance_list .icon img,
section.comparison .performance_list .icon svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

section.comparison .performance_list .li button {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

section.comparison .performance_list .li button.active {
    background: transparent;
}

section.comparison .performance_list .li button.active .arrow svg path {
    fill: #C9B48C;
}

section.comparison .performance_list .li .item_inside {
    padding-left: 35px;
    padding-bottom: 30px;
}

section.doctrine {
    padding: 50px 0;
}

section.doctrine .block_title {
    margin: 0;
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

section.doctrine .content {
    padding-top: 50px;
}

section.doctrine section.top_buttons {
    margin-top: 0;
}

section.doctrine section.top_buttons:after {
    bottom: 10px;
}

section.doctrine section.top_buttons .dragscroll {
    padding-bottom: 10px;
}

section.doctrine section.top_buttons .dragscroll .arrow {
    top: 50%;
}

section.doctrine section.top_buttons .dragscroll .arrow.prev {
    left: 0;
}

section.doctrine section.top_buttons .dragscroll .arrow.next {
    right: 0;
}

section.doctrine .topButtons_slider {
    height: 170px;
    margin-left: 6%;
}

section.doctrine .topButtons_slider .col-12 {
    padding: 0;
}

section.doctrine .topButtons_slider .col-lg-4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
}

section.doctrine .topButtons_slider .item {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 15px;
}

section.doctrine .topButtons_slider .item h2 {
    margin: 0 0 15px;
    color: #262B3E;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

section.doctrine .topButtons_slider .item p {
    color: #C9B48C;
    font-size: 14px;
    text-align: center;
    position: unset;
    line-height: unset;
}

section.doctrine .topButtons_slider .item.active {
    background: #C9B48C;
}

section.doctrine .topButtons_slider .item.active h2 {
    color: #FFFFFF;
}

section.doctrine .topButtons_slider .item.active p {
    color: white;
}

section.doctrine .topButtons_slider .flickity-prev-next-button {
    width: 30px;
    height: 30px;
}

section.doctrine .topButtons_slider .flickity-prev-next-button.previous {
    left: 0;
}

section.doctrine .topButtons_slider .flickity-prev-next-button.next {
    right: 0;
}

section.doctrine .sections_cont {
    padding-top: 3Я0px;
}

section.doctrine .sections_cont .item {
    margin-bottom: 30px;
}

section.doctrine .sections_cont .item_title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

section.doctrine .sections_cont .item_title svg,
section.doctrine .sections_cont .item_title img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

section.doctrine .sections_cont .item_title h2 {
    color: #A68B64;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 20px;
}

section.doctrine .sections_cont p {
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}

section.doctrine .sections_cont p:last-child {
    margin-bottom: 0;
}

.bases {
    padding-bottom: 100px;
}

.bases .bases_tab_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-bottom: 15px;
    overflow: unset;
    margin-bottom: 50px;
}

.bases .bases_tab_buttons:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid #C9B48C;
}
.bases .bases_tab_buttons button img, .bases .bases_tab_buttons svg{
    transition: .3s;
}
.bases .bases_tab_buttons button {
    height: unset;
    width: unset;
    color: #A9A9A9;
    font-size: 18px;
    text-transform: unset;
    font-weight: 600;
    transition: .3s;
    position: relative;
}
.bases .bases_tab_buttons button:hover{
    color: #404040;
}
.bases .bases_tab_buttons button:hover img, .bases .bases_tab_buttons button:hover svg{
    filter: brightness(0%) saturate(80%);
}
.bases .bases_tab_buttons button:after {
    display: none;
    position: absolute;
    left: 50%;
    bottom: unset;
    transform: translateX(-50%);
    content: '';
    width: 0;
    height: 0;
    top: calc(100% + 5px);
    border-top: none;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #C9B48C !important;
    background: none;
    z-index: 1;
}

.bases .bases_tab_buttons button:before {
    display: none;
    content: '';
    position: absolute;
    top: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    z-index: 2;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 10px solid white;
}
.bases .bases_tab_buttons button.active svg, .bases .bases_tab_buttons button.active img{

    filter: unset;
}

.bases .bases_tab_buttons button.active {
    color: #C9B48C;
    background: none;
    border: none;
}

.bases .bases_tab_buttons button.active:before,
.bases .bases_tab_buttons button.active:after {
    display: block;
}

.bases .bases_tab_buttons button.active svg path {
    stroke: #C9B48C;
}

.bases .bases_tab_buttons button svg,
.bases .bases_tab_buttons button img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.bases .bases_tab_buttons button svg path,
.bases .bases_tab_buttons button img path {
    stroke: #A9A9A9;
}

.bases .bases_articles {
    padding: 0 25px;
}

.bases .bases_articles .item {
    margin-bottom: 30px;
}

.bases .bases_articles .item .item_title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.bases .bases_articles .item .arrow {
    width: 7px;
    margin-right: 10px;
}

.bases .bases_articles .item .arrow svg,
.bases .bases_articles .item .arrow img {
    width: 100%;
}

.bases .bases_articles .item h2 {
    margin: 0;
    letter-spacing: 1px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.bases .bases_articles .item p {
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
    text-align: justify;
}

.bases .performance .tab_content {
    height: 550px;
}

.bases .performance .tab_content .scroll_box {
    max-height: calc(550px - 60px);
}

.bases .performance .btns a {
    border: 1px solid #C9B48C;
    border-radius: 5px;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    width: fit-content;
    color: #C9B48C;
    transition: .3s;
    font-family: 'Roboto', sans-serif;
}
.bases .performance .btns a:hover{
    background: #C9B48C;
    color: #fff;
}
.bases .performance .btns a:hover svg{
    filter: invert(1) brightness(1000%);
}
.bases .performance .btns a svg {
    width: 20px;
    height: 20px;
}

.bases .performance .item h2 {
    text-align: left;
}

.bases .performance .item h3 {
    max-width: 235px;
    letter-spacing: 1px;
    color: #000000;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    section.top_buttons {
        margin-top: 10px;
    }
    section.top_buttons .col-12 {
        min-width: 320px;
        max-width: 320px;
        padding: 0;
    }
    section.top_buttons .flickity-prev-next-button {
        display: none;
    }
    section.principles {
        margin-bottom: 30px;
    }
    section.search {
        padding: 30px 0;
    }
    section.search input {
        height: 60px;
        margin-right: 20px;
        font-size: 16px;
        line-height: 14px;
        color: #A9A9A9;
        padding: 0 10px 0 20px;
    }
    section.search button {
        height: 60px;
        padding: 0 25px;
        width: fit-content;
        margin-left: auto;
        font-size: 16px;
        line-height: 16px;
    }
    section.search button svg {
        width: 25px;
        height: 25px;
        margin-right: 15px;
    }
    section.performance {
        margin-bottom: 0;
    }
    section.performance .tab_buttons {
        max-width: 100%;
        display: flex;
        position: relative;
    }
    section.performance .tab_buttons button {
        white-space: nowrap;
        font-size: 14px;
        line-height: 16px;
        height: unset;
        padding: 10px 20px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #C9B48C;
    }
    section.performance .tab_buttons button.active {
        background: unset;
    }
    section.performance .tab_buttons button.active:after,
    section.performance .tab_buttons button.active:before {
        display: block;
    }
    section.performance .tab_buttons button:after {
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        width: 0;
        height: 0;
        top: unset;
        bottom: -1px;
        border-top: none;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 10px solid #C9B48C !important;
        background: none;
        z-index: 1;
    }
    section.performance .tab_buttons button:before {
        display: none;
        content: '';
        position: absolute;
        top: unset;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        z-index: 2;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-bottom: 9px solid white;
    }
    section.performance .tab_buttons .icon {
        min-width: 30px;
        max-width: 30px;
        height: 30px;
        margin-right: 12px;
    }
    section.performance .tab_buttons .icon svg,
    section.performance .tab_buttons .icon img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
    section.performance .tab_content {
        height: unset;
        border-radius: 0;
        padding: 30px 20px;
    }
    section.performance .tab_content:before {
        content: unset;
    }
    section.performance .tab_content:after {
        border: none;
        border-top: 1px solid #C9B48C;
        border-radius: 0;
        z-index: -1;
        display: none;
    }
    section.performance .tab_content .scroll_box {
        max-height: unset;
        overflow: unset;
        padding: 0;
        margin-bottom: 50px;
    }
    section.performance .tab_content .item {
        margin-bottom: 30px;
    }
    section.performance .tab_content .source {
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    section.performance .tab_content .block_title {
        font-weight: 500;
        margin-bottom: 14px;
    }
    section.performance .tab_content p {
        margin-bottom: 30px;
    }
    section.performance .tab_content .btns {
        justify-content: center;
        flex-wrap: nowrap;
    }
    section.performance .tab_content .btns a,
    section.performance .tab_content .btns button {
        max-width: 150px;
        margin: 0 7.5px;
    }
    section.performance .tab_content .btns a .absolute,
    section.performance .tab_content .btns button .absolute {
        right: -10px;
        top: -10px;
    }
    section.performance .tab_content .btns a .statistics,
    section.performance .tab_content .btns button .statistics {
        font-size: 9px;
        min-width: 20px;
        min-height: 20px;
        margin-left: 2px;
    }
    section.discussion {
        padding-top: 30px;
        margin-bottom: 30px;
    }
    section.discussion .tab_buttons {
        max-width: 100%;
        display: flex;
        position: relative;
    }
    section.discussion .tab_buttons:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #C9B48C;
    }
    section.discussion .tab_buttons button {
        width: unset;
        white-space: nowrap;
        font-size: 14px;
        line-height: 16px;
        height: unset;
        padding: 10px 20px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #C9B48C;
    }
    section.discussion .tab_buttons button.active {
        background: unset;
    }
    section.discussion .tab_buttons button.active:after,
    section.discussion .tab_buttons button.active:before {
        display: block;
    }
    section.discussion .tab_buttons button.active:last-child:after {
        border-bottom: 10px solid #C9B48C !important;
    }
    section.discussion .tab_buttons button:after {
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        width: 0;
        height: 0;
        top: unset;
        bottom: -1px;
        border-top: none;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 10px solid #C9B48C !important;
        background: none;
        z-index: 1;
    }
    section.discussion .tab_buttons button:before {
        display: none;
        content: '';
        position: absolute;
        top: unset;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        z-index: 2;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-bottom: 9px solid white;
    }
    section.discussion .tab_buttons .icon {
        min-width: 30px;
        max-width: 30px;
        height: 30px;
        margin-right: 12px;
    }
    section.discussion .tab_buttons .icon svg,
    section.discussion .tab_buttons .icon img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
    section.discussion .tab_content:after {
        display: none;
    }
    section.discussion .tab_content .position {
        margin-bottom: 30px;
    }
    .state_position {
        margin-top: 30px !important;
    }
    section.bases {
        padding-bottom: 30px;
    }
    section.bases .bases_tab_buttons {
        overflow: auto !important;
    }
    section.bases .bases_tab_buttons button {
        white-space: nowrap;
        border: none;
        padding-bottom: 15px !important;
        border-radius: 0;
        border-bottom: 1px solid #C9B48C;
    }
    section.bases .bases_tab_buttons button:before,
    section.bases .bases_tab_buttons button:after {
        top: unset;
        bottom: -1px;
    }
    section.bases .bases_tab_buttons button:after {
        bottom: 0;
    }
    section.bases .bases_tab_buttons:after {
        bottom: 0;
    }
    section.bases .performance .tab_content {
        height: unset;
    }
    section.bases .performance .tab_content .btns a,
    section.bases .performance .tab_content .btns button {
        max-width: unset;
    }
    section.bases .performance .tab_content .scroll_box {
        max-height: unset;
        overflow: unset;
    }
    section.articles .row {
        padding: 0;
    }
    section.articles .scroll_box {
        padding: 15px;
        max-height: unset;
        overflow: unset;
    }
    section.bases .bases_tab_buttons {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 575px) {
    .pagination {
        margin-top: 30px;
        margin-bottom: 100px;
    }
    .pagination .page_num {
        height: 40px;
        min-width: 30px;
    }
    .pagination svg {
        width: 8px;
        margin-top: 8px;
    }
    section.top_buttons {
        margin-top: 10px;
    }
    section.top_buttons .container {
        padding: 0;
    }
    section.top_buttons .col-12 {
        min-width: 250px;
        max-width: 250px;
        padding: 0;
    }
    section.top_buttons .flickity-prev-next-button {
        display: none;
    }
    section.top_buttons.type_2 {
        margin-bottom: 0;
    }
    section.top_buttons.type_2 .dragscroll .arrow {
        top: calc(50% - 12px);
    }
    section.top_buttons.type_2 .dragscroll .arrow.prev {
        left: 10px;
    }
    section.top_buttons.type_2 .dragscroll .arrow.next {
        right: 10px;
    }
    section.top_buttons.type_2 .topButtons_slider {
        height: 150px;
    }
    section.top_buttons.type_2:after {
        bottom: 38px;
    }
    section.top_buttons.type_2 .container {
        padding-bottom: 20px;
    }
    section.top_buttons .item {
        padding-top: 20px;
    }
    section.top_buttons .item.active h2 {
        font-weight: 600;
    }
    section.top_buttons .num {
        font-size: 22px;
        line-height: 27px;
    }
    section.top_buttons h2 {
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
    }
    section.top_buttons p {
        font-size: 12px;
        line-height: 15px;
    }
    section.top_buttons.type_4 .dragscroll,
    section.top_buttons.type_3 .dragscroll {
        padding-bottom: 15px;
    }
    section.top_buttons.type_4 .dragscroll .arrow,
    section.top_buttons.type_3 .dragscroll .arrow {
        top: calc(50% - 11px);
    }
    section.top_buttons.type_4 .dragscroll .arrow.next,
    section.top_buttons.type_3 .dragscroll .arrow.next {
        right: 10px;
    }
    section.top_buttons.type_4 .dragscroll .arrow.prev,
    section.top_buttons.type_3 .dragscroll .arrow.prev {
        left: 10px;
    }
    section.top_buttons.type_4:after,
    section.top_buttons.type_3:after {
        bottom: 19px;
    }
    section.top_buttons.type_4 .topButtons_slider,
    section.top_buttons.type_3 .topButtons_slider {
        height: 120px;
    }
    section.top_buttons.type_3 .topButtons_slider {
        height: 160px;
    }
    section.search {
        padding: 30px 5px 20px;
    }
    section.search input {
        height: 64px;
        font-size: 16px;
        line-height: 14px;
        padding: 0 15px;
        color: #A9A9A9;
    }
    section.search button {
        height: 40px;
        padding: 0 20px;
        width: fit-content;
        margin-left: auto;
        font-size: 14px;
        line-height: 16px;
    }
    section.search button svg {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    section.item_list .item .icon {
        min-width: 30px;
        max-width: 30px;
        margin-right: 20px;
    }
    section.item_list .item .icon svg {
        width: 100%;
    }
    section.item_list .item h2 {
        font-size: 14px;
        line-height: 16px;
    }
    section.item_list .item p {
        font-size: 12px;
        line-height: 14px;
    }
    section.item_list .item .arrow svg {
        width: 8px;
    }
    section.page-title .col {
        padding: 0;
    }
    section.page-title h3 {
        font-size: 20px;
        line-height: 32px;
        font-weight: 400;
        margin: 0 0 25px;
    }
    section.page-title h2 {
        margin: 0;
        font-size: 22px;
        line-height: 26px;
    }
    section.principles {
        padding: 0 20px;
        margin-bottom: 50px;
    }
    section.principles .col-lg-12 {
        margin-bottom: 0;
    }
    section.principles .col-lg-12:last-child .col-12:last-child a {
        margin-bottom: 0;
    }
    section.principles a {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 20px;
    }
    section.performance {
        margin-bottom: 0;
    }
    section.performance .tab_buttons {
        max-width: 100%;
        display: flex;
        position: relative;
    }
    section.performance .tab_buttons:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #C9B48C;
    }
    section.performance .tab_buttons button {
        white-space: nowrap;
        font-size: 14px;
        line-height: 16px;
        height: unset;
        padding: 10px 20px;
        position: relative;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #C9B48C;
    }
    section.performance .tab_buttons button.active {
        background: unset;
    }
    section.performance .tab_buttons button.active:after,
    section.performance .tab_buttons button.active:before {
        display: block;
    }
    section.performance .tab_buttons button:after {
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        width: 0;
        height: 0;
        top: unset;
        bottom: -1px;
        border-top: none;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 10px solid #C9B48C !important;
        background: none;
        z-index: 1;
    }
    section.performance .tab_buttons button:before {
        display: none;
        content: '';
        position: absolute;
        top: unset;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        z-index: 2;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-bottom: 9px solid white;
    }
    section.performance .tab_buttons .icon {
        min-width: 30px;
        max-width: 30px;
        height: 30px;
        margin-right: 12px;
    }
    section.performance .tab_buttons .icon svg,
    section.performance .tab_buttons .icon img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
    section.performance .tab_content {
        height: unset;
        border-radius: 0;
        padding: 30px 20px;
    }
    section.performance .tab_content:before {
        content: unset;
    }
    section.performance .tab_content:after {
        border: none;
        border-top: 1px solid #C9B48C;
        border-radius: 0;
        z-index: -1;
        display: none;
    }
    section.performance .tab_content .scroll_box {
        max-height: unset;
        overflow: unset;
        padding: 0;
        margin-bottom: 50px;
    }
    section.performance .tab_content .item {
        margin-bottom: 30px;
    }
    section.performance .tab_content .source {
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    section.performance .tab_content .source h3,
    section.performance .tab_content .source a {
        font-size: 14px;
        line-height: 16px;
    }
    section.performance .tab_content .block_title {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 14px;
    }
    section.performance .tab_content p {
        font-size: 14px;
        margin-bottom: 30px;
    }
    section.performance .tab_content .btns {
        justify-content: center;
        flex-wrap: nowrap;
    }
    section.performance .tab_content .btns a,
    section.performance .tab_content .btns button {
        max-width: 150px;
        margin: 0 7.5px;
    }
    section.performance .tab_content .btns a .absolute,
    section.performance .tab_content .btns button .absolute {
        right: -10px;
        top: -10px;
    }
    section.performance .tab_content .btns a .statistics,
    section.performance .tab_content .btns button .statistics {
        font-size: 9px;
        min-width: 20px;
        min-height: 20px;
        margin-left: 2px;
    }
    section.comparison {
        padding-top: 30px;
    }
    section.comparison .section_title {
        margin-top: 0;
        font-size: 20px;
        margin-bottom: 20px;
    }
    section.comparison .close {
        width: 40px;
        height: 40px;
    }
    section.comparison .comparison_box {
        min-width: 80%;
        max-width: 80%;
    }
    section.comparison .comparison_box .item {
        max-height: 430px;
    }
    section.comparison .law_name {
        font-size: 18px;
        margin-bottom: 15px;
    }
    section.comparison .arrow_box svg {
        width: 35px;
    }
    section.comparison .d-flex {
        padding: 20px 20px 10px 0;
    }
    section.comparison .performance_list {
        max-height: unset;
        overflow: unset;
    }
    section.comparison .performance_list .arrow {
        margin-right: 10px;
    }
    section.comparison .performance_list .icon {
        min-width: 50px;
        max-width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    section.comparison .performance_list .li button {
        font-size: 16px;
    }
    section.discussion {
        padding-top: 30px;
        margin-bottom: 0;
    }
    section.discussion .section_title {
        margin-top: 0;
        font-size: 24px;
        margin-bottom: 20px;
    }
    section.discussion .section_subtitle {
        margin-top: 0;
        width: 100%;
        font-size: 16px;
        margin-bottom: 30px;
    }
    section.discussion .tab_buttons {
        max-width: 100%;
        display: flex;
    }
    section.discussion .tab_buttons button {
        white-space: nowrap;
        font-size: 14px;
        line-height: 16px;
        height: unset;
        padding: 10px 20px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #C9B48C;
    }
    section.discussion .tab_buttons button.active {
        background: unset;
    }
    section.discussion .tab_buttons button.active:after,
    section.discussion .tab_buttons button.active:before {
        display: block !important;
    }
    section.discussion .tab_buttons button.active:last-child:after {
        border-bottom: 10px solid #C9B48C !important;
    }
    section.discussion .tab_buttons button:after {
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        width: 0;
        height: 0;
        top: unset;
        bottom: -1px;
        border-top: none;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 10px solid #C9B48C !important;
        background: none;
        z-index: 1;
    }
    section.discussion .tab_buttons button:before {
        display: none;
        content: '';
        position: absolute;
        top: unset;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        z-index: 2;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-bottom: 9px solid white;
    }
    section.discussion .tab_buttons .icon {
        min-width: 30px;
        max-width: 30px;
        height: 30px;
        margin-right: 12px;
    }
    section.discussion .tab_buttons .icon svg,
    section.discussion .tab_buttons .icon img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
    section.discussion .tab_content {
        height: unset;
        border-radius: 0;
        padding: 30px 20px;
    }
    section.discussion .tab_content:before {
        content: unset;
    }
    section.discussion .tab_content:after {
        display: none;
    }
    section.discussion .tab_content .scroll_box {
        max-height: unset;
        overflow: unset;
        padding: 0;
        margin-bottom: 50px;
    }
    section.discussion .tab_content .item {
        margin-bottom: 30px;
    }
    section.discussion .tab_content .position {
        padding: 0;
        margin-bottom: 30px;
    }
    section.discussion .tab_content .user .avatar {
        margin-right: 10px;
    }
    section.discussion .tab_content .user .text .name {
        font-size: 16px;
        line-height: 20px;
    }
    section.discussion .tab_content .user .text .date {
        font-size: 12px;
        line-height: 18px;
    }
    section.discussion .tab_content .arguments_list .argument {
        flex-wrap: wrap;
    }
    section.discussion .tab_content .arguments_list .text {
        width: 100%;
        font-size: 14px;
        margin-top: 10px;
    }
    section.discussion .tab_content .title_box {
        padding: 0;
        margin-bottom: 30px;
    }
    section.discussion .tab_content .title_box h2 {
        font-weight: 500;
        font-size: 20px;
        line-height: 16px;
        margin-bottom: 14px;
    }
    section.discussion .tab_content .title_box h3 {
        font-size: 16px;
    }
    section.discussion .tab_content p {
        font-size: 14px;
        margin-bottom: 30px;
    }
    section.discussion .tab_content .btns {
        justify-content: center;
        flex-wrap: nowrap;
    }
    section.discussion .tab_content .btns a,
    section.discussion .tab_content .btns button {
        max-width: 150px;
        margin: 0 7.5px;
    }
    section.discussion .tab_content .btns a .absolute,
    section.discussion .tab_content .btns button .absolute {
        right: -10px;
        top: -10px;
    }
    section.discussion .tab_content .btns a .statistics,
    section.discussion .tab_content .btns button .statistics {
        font-size: 9px;
        min-width: 20px;
        min-height: 20px;
        margin-left: 2px;
    }
    section.doctrine .topButtons_slider {
        padding: 0;
    }
    section.doctrine .topButtons_slider .container {
        padding: 0;
    }
    section.doctrine .topButtons_slider .col-12 {
        min-width: 80%;
        max-width: 80%;
        padding: 0;
    }
    section.doctrine .topButtons_slider .flickity-prev-next-button {
        display: none;
    }
    section.doctrine .topButtons_slider.type_2 {
        margin-bottom: 0;
    }
    section.doctrine .topButtons_slider.type_2:after {
        bottom: 18px;
    }
    section.doctrine .topButtons_slider.type_2 .container {
        padding-bottom: 20px;
    }
    section.doctrine .topButtons_slider.type_2 .item {
        padding-bottom: 40px;
    }
    section.doctrine .topButtons_slider.type_2 .item.active:after {
        width: 30px;
        height: 15px;
        border-top: solid 15px #C9B48C;
        border-left: solid 15px transparent;
        border-right: solid 15px transparent;
    }
    section.doctrine .topButtons_slider .item {
        padding-top: 20px;
    }
    section.doctrine .topButtons_slider .item.active h2 {
        font-weight: 600;
    }
    section.doctrine .topButtons_slider .num {
        font-size: 22px;
        line-height: 27px;
    }
    section.doctrine .topButtons_slider h2 {
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
    }
    section.doctrine .topButtons_slider p {
        font-size: 12px;
        line-height: 15px;
    }
    section.doctrine section.top_buttons .dragscroll .arrow {
        top: calc(50% - 12px);
    }
    section.bases {
        padding-bottom: 20px;
    }
    section.bases .bases_tab_buttons {
        width: fit-content;
        max-width: 100%;
        overflow: auto;
        display: flex;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    section.bases .bases_tab_buttons:after {
        bottom: -1px;
    }
    section.bases .bases_tab_buttons button {
        white-space: nowrap;
        font-size: 14px;
        line-height: 16px;
        height: unset;
        padding: 10px 20px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #C9B48C !important;
    }
    section.bases .bases_tab_buttons button.active {
        background: unset;
    }
    section.bases .bases_tab_buttons button.active:after,
    section.bases .bases_tab_buttons button.active:before {
        display: block;
    }
    section.bases .bases_tab_buttons button:after {
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        width: 0;
        height: 0;
        top: unset;
        bottom: -1px;
        border-top: none;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 10px solid #C9B48C !important;
        background: none;
        z-index: 1;
    }
    section.bases .bases_tab_buttons button:before {
        display: none;
        content: '';
        position: absolute;
        top: unset;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        z-index: 2;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-bottom: 9px solid white;
    }
    section.bases .bases_tab_buttons .icon {
        min-width: 30px;
        max-width: 30px;
        height: 30px;
        margin-right: 12px;
    }
    section.bases .bases_tab_buttons .icon svg,
    section.bases .bases_tab_buttons .icon img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
    section.bases .tab_block .bases_articles {
        padding-top: 20px;
    }
    section.bases .performance .btns a {
        max-width: unset;
    }
    section.bases .performance .tab_buttons {
        padding-top: 1px;
    }
    section.bases .performance .tab_block:before {
        display: none;
    }
    section.bases .performance .tab_block .tab_content {
        padding-left: 0;
        padding-right: 0;
        height: unset;
    }
    section.bases .performance .tab_block .tab_content .scroll_box {
        max-height: unset;
        overflow: unset;
    }
    section.bases .bases_articles {
        padding: 0;
    }
    section.articles .row {
        padding: 0;
    }
    section.articles .scroll_box {
        padding: 15px;
        max-height: unset;
        overflow: unset;
    }
}

.loader{
    position: fixed;
    top: calc(100% + 60px);
    left: 50%;
    transform: translate(-50%);
    height: 90px;
    width: 90px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    background: #fff;
    border-radius: 50%;
    z-index: 30;
    transition: .5s;

}
.loader.active{
    transition: .15s;
    top: calc(100% - 120px);
}
.fade-effect{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 150px;
}
.fade-effect.left{
    left: 0;
    background: linear-gradient(to right, rgba(255,255,255,1) 10%, rgba(255,255,255,0));

}
.fade-effect.right{
    right: 0;
    background: linear-gradient(to left, rgba(255,255,255,1)  10%, rgba(255,255,255,0));
}
.empty_block{
    width: 120px;
    flex-shrink: 0;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 30px;

}

@media (max-width: 991px) {
    .tab_buttons::-webkit-scrollbar{
        height: 7px;
    }
    .grid{
        grid-template-columns: auto;
    }
}
@media(max-width: 575px){
    .fade-effect{
        display: none;
    }
    .empty_block{
        width: 60px;
    }
}
.principles .grid a.active{
    text-decoration: none;
    background-color: white;
    padding: 3px;
    padding-left:7px;
    padding-right:7px;
    color:#C9B48C;
    border-radius: 3px;
}

.argument_item img{
    float: left;
}
.argument_item{
    width: 100%;
}
.modal_tab_content{
    height: auto;
}
.modal_tab_content::after, .modal_tab_content::before{
    display: none;
}
.edit_modal .head .theargument:first-child .close{
    display: none;
}
.team-section .grid{

    display: unset!important;
    grid-template-columns: unset!important;
    grid-column-gap: unset!important;
}
.tab_content .scroll_box .academic *, .tab_content .scroll_box .normative *{
    overflow-wrap: break-word;
}
.scroller_from_top .item::after{
    content: '';
    position: absolute;
    bottom: -20px;
    width: 20px;
    height: 20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #C9B48C;
    left: 50%;
    opacity: 0;
    transition: .3s;
    transform: translate(-50%);
}
.scroller_from_top .item.active::after{
    opacity: 1;
}
.scroller {
    overflow: auto;
    margin-top: 20px;
}
.scroller::-webkit-scrollbar {
    height: 6px;
}
section.scroller_from_top:after{
    bottom: 13px;
}
.scroller::-webkit-scrollbar-thumb {
    background: #C9B48C;
    border-radius: 10px;
}

.disable_scrollbar::-webkit-scrollbar {
    display: none;
}